<div class="container login-container">
    <div class="row">

        <div class="col-md-6 login-form-1">
            <h3>Login</h3>
            <form>
                <div class="form-outline mb-4">
                    <input type="email" class="form-control" placeholder="Your Email *" value="" />
                </div>
                <div class="form-outline mb-4">
                    <input type="password" class="form-control" placeholder="Your Password *" value="" />
                </div>
                <div class="form-outline mb-4">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                            value="2" checked>
                        <label class="form-check-label" for="inlineRadio1">Student</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                            value="3">
                        <label class="form-check-label" for="inlineRadio2">Teacher</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                            value="4">
                        <label class="form-check-label" for="inlineRadio3">Principal</label>
                    </div>
                </div>
                <div class="form-outline mb-4">
                    <input type="submit" class="btnSubmit" value="Login" />
                    &nbsp; <a href="#" class="ForgetPwd">Forget Password?</a>
                </div>
            </form>
        </div>

        <div class="col-md-6 login-form-2">
            <h3>Register Student</h3>
            <form>
                <div class="form-outline mb-4">
                    <input type="text" class="form-control" placeholder="Your Fullname *" 
                    name="fullName" #fullName="ngModel" [(ngModel)]="service.formData.fullName" required />
                </div>
                <div class="form-outline mb-4">
                    <input type="email" class="form-control" placeholder="Your Email *" 
                    name="email" #email="ngModel" [(ngModel)]="service.formData.email" required />
                </div>
                <div class="form-outline mb-4">
                    <input type="password" class="form-control" placeholder="Your Password *" 
                    name="password" #password="ngModel" [(ngModel)]="service.formData.password" required minlength="6" />
                </div>
                <div class="form-outline mb-4">
                    <button (click)="registerOnClick()" class="btnSubmit">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>